/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}

.ssvm-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  flex: 1;
}

.flex-parent {
  display: flex;
}

.content-text {
  flex: 1;
}

.content-img {
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding-right: 5%;
  padding-top: 1%;
}
