body {
  margin-left: 5%;
  margin-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: large;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.active,
.collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

.ssvm-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  flex: 1;
}

.flex-parent {
  display: flex;
}

.content-text {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}

.content-img {
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding-right: 5%;
  padding-top: 1%;
}
